{% load departments_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>
 <a href="{% url 'go to home' %}">Go to HOME</a>

    </li>
    <li>
        <a href="{% url 'templates index' %}" > Go to TEMPLATES</a>
    </li>
</ul>
<h1>It works</h1>
<h2>The number is {{ number }}</h2>
<ul>
    {% for number in numbers %}
        <li>Number {{ number }}</li>
    {% endfor %}
</ul>
<script>
    window.number = "{{ number }}";
</script>

{% departments_list %}
</body>
</html>
